/* auth.css */
.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:50%;
  background-image: url("straw.jpg");

  background-size: cover;
  background-repeat: no-repeat;
}

.auth-container {
  background-color:#f7f7f4; /* Container background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.auth-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333; /* Heading color */
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555; /* Label color */
}

input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #111212; /* Submit button background color */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #040404; /* Hover background color */
}
body{
  background-image: url("cinam.jpg");
  justify-content: center;
  height: 100vh; 
  background-size: cover;


}