.app-footer {
    background-color: rgba(58, 51, 6, 0.84);
    color: white;
    text-align: center;
    align-items: center;
    width: 100vw;
    display: flex;
    min-height: 2px;
    flex-direction: column;
    margin-top: 100vh;
    margin-bottom: 0px;
}

/* Style the footer links */
.footer-links a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
    font-size: 16px;
    transition: color 0.2s ease-in-out;
}

.footer-links a:hover {
    color: white;
    /* Change color on hover */
}

/* Style the social links */
.social-links {
    margin-top: 50px;
    color: white;
}

.social-icon {
    text-decoration: none;
    color: white;
    font-size: 50px;
    margin: 20px 80px;
    transition: color 0.2s ease-in-out;
}

.social-icon:hover {
    color: white;
    /* Change color on hover */
}

/* Style the app info section */
.app-info {
    margin-top: 20px;
}

.app-info p {
    font-size: 14px;
    margin: 5px 0;
}

/* Style the logout link (if applicable) */
.logout-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    display: block;
}

.logout-link:hover {
    text-decoration: underline;
}